In [1]:
import pandas as pd
from influxdb import DataFrameClient

In [2]:
!pip install openpyxl

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.7 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
user='root'
password='root'
host='influxdb'
port=8086
dbname='energy_data'
protocol='line'
client=DataFrameClient(host, port, user, password, dbname)

In [4]:
client.create_database(dbname)

In [5]:
client.get_list_database()

[{'name': '_internal'}, {'name': 'energy_data'}]

In [6]:
client.drop_database('consup_data')

In [7]:
client.get_list_database()

[{'name': '_internal'}, {'name': 'energy_data'}]

In [20]:
df=pd.read_excel('energy_Dataset.xlsx')

In [21]:
df

,Data,Consum,Productie,Nuclear,Eolian,Hidro,Hidrocarburi,Carbune,Fotovolt,Biomasa,Sold
0,2023-07-30 10:59:17,4741,5196,1363,122,1417,916,662,685,32,-455
1,2023-07-30 10:56:17,4748,5159,1364,119,1399,905,664,677,32,-412
2,2023-07-30 10:46:19,4755,5172,1362,124,1435,898,663,657,32,-416
3,2023-07-30 10:38:27,4759,5244,1364,120,1477,933,685,634,32,-485
4,2023-07-30 10:29:36,4728,5297,1364,114,1487,937,738,628,31,-569
...,...,...,...,...,...,...,...,...,...,...,...
458,2023-07-28 00:29:35,5393,6305,1357,985,1622,1287,1021,0,33,-913
459,2023-07-28 00:27:37,5390,6330,1358,1003,1620,1291,1025,0,34,-940
460,2023-07-28 00:18:46,5416,6373,1358,1054,1620,1285,1023,0,34,-957
461,2023-07-28 00:08:17,5502,6464,1355,1063,1719,1286,1008,0,34,-962
462,2023-07-28 00:00:17,5500,6378,1357,1088,1658,1286,956,0,34,-878

In [22]:
df.columns

Index(['Data', 'Consum', 'Productie', 'Nuclear', 'Eolian', 'Hidro',
       'Hidrocarburi', 'Carbune', 'Fotovolt', 'Biomasa', 'Sold'],
      dtype='object')

In [23]:
field_columns=['Consum','Productie','Nuclear','Eolian',
       'Hidro','Hidrocarburi','Carbune','Fotovolt',
       'Biomasa','Sold']

In [24]:
 tag_columns=['Data']

In [25]:
df2=df[tag_columns+field_columns]

In [26]:
df2.index=pd.to_datetime(df['Data'].astype(str))

In [27]:
#df2['Data'] = pd.to_datetime(df['Data'], unit='s')

In [28]:
data_points=df2.to_dict('records')

In [29]:
client.write_points(df2, 'records', protocol=protocol,
                        field_columns=field_columns,
                        tag_columns=tag_columns)

True